<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- example launch script for ArduPilotMega based FCU's  -->

  <rosparam param="mavros/mocap">
     publish_fix: true
     utm_zone: 32T
     gps_id: 0
  </rosparam>

  <remap from="mavros/mocap/pose" to="pose"/>

  <arg name="fcu_url" default="udp://:6001@"/>
  <arg name="gcs_url" default="udp://10.0.0.1:9000@10.0.0.2:6000"/>

  <include file="$(find mavros)/launch/node.launch">
    <!-- <arg name="pluginlists_yaml" value="$(find mavros_external_tracker)/launch/apm_pluginlists.yaml"/> -->
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="gcs_url" value="$(arg gcs_url)"/>
  </include>

</launch>
